@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* ------------------------------------- Body ------------------------------------- */
body{
    width: 1440px;
    height: 3911px;
}
/* ------------------------------------------ Main ----------------------------------------- */
main{
    background: var(--color-3);
    display: grid;
    grid-template-rows: 141px 687px 355px 1330px 829px 993px;
    grid-template-areas:"section__header"
    "section__initianDescription"
    "section__how-to-play"
    "section__rules"
    "section__support-us"
    "section__About-us"
    ;
}
/*********************************************************************************************/
/* ------------------------------------ section__header ------------------------------------ */
.section__header{
    grid-row: 1;
}
.div__header{
    /* background: red; */

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: auto;
    height: 141px;
}
.div__aqua{
    /* background: green; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    background: var(--color-1);
    border-radius: 0 48px 48px 0; 

    width: 298px;
    height: 96px;
}
.div__aqua a{
    font-family: "RobotoCondensed-Regular";
    font-size: 48px;
    color: var(--color-2);
    gap: 7px;
    margin-left: 47px;

    text-decoration: none;
}
.div__aqua img{
    
}
.div__navigation{
    /* background: blue; */
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    border-bottom: 1px solid var(--color-7);
    width: 732px;
    height: 38px;
}
.div__navigation a{
    font-family: "RobotoCondensed-Regular";
    font-size: 24px;
    color: var(--color-1);

    text-decoration: none;
}
.div__issue{
    /* background: violet; */
    display: flex;

    gap: 28px;
    margin-right: 37px;
    width: 103px;
    height: 40px;
}
.div__issue img{
    
}
/*********************************************************************************************/
/* --------------------------- section__initianDescription --------------------------------- */
.section__initianDescription{
    /* background: red; */
    grid-row: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
}
.div__logo{
    /* background: blue; */
    display: flex;
    flex-direction: column;
    gap: 26px;
    width: 707px;
    height: 592px;
}
.div__logo img{
    
}
.div__logo h3{
    font-family: "RobotoCondensed-Regular";
    font-size: 56.4px;
    color: var(--color-1);
}
.div__logo p{
    font-family: "RobotoCondensed-Regular";
    font-size: 26px;
    color: var(--color-1);
}
.div__buy{
    /* background: green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 494.01px;
    height: 542px;
}
.div__buy img{

}
#photo{

}
#cart{
    width: 30px;
    height: 30px;
}
.div__buy a{
    background: var(--color-1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -65px;
    margin-left: 70px;
    gap: 7px;
    font-family: "RobotoCondensed-Bold";
    font-size: 40px;
    color: var(--color-2);
    text-decoration: none;
    width: 237px;
    height: 54px;
    border-radius: 31.5px;
}.div__buy p{
    
}
.div__social-networks{
    /* background: violet; */
    margin-top: 205px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    width: 82px;
    height: 218px;
}
.div__social-networks img{
    
}
/****************************************************************************************************/
/* ------------------------------------ "section__how-to-play" ------------------------------------ */
.section__how-to-play{
    grid-row: 3;
    display: flex;
    justify-content: center;
    
}
.div__how-to-play {
    /* background: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 41px;

    width: 654px;
    height: 258px;

}
.div__how-to-play h3{
    font-family: "RobotoCondensed-Bold";
    font-size: 64px;
    color: var(--color-1);
}
.div__how-to-play p{
    font-family: "RobotoCondensed-Regular";
    font-size: 36px;
    color: var(--color-1);
}   
/****************************************************************************************************/
/* --------------------------------------- "section__rules" --------------------------------------- */
.section__rules{
    /* background: red; */
    display: flex;
    justify-content: center;

}
.div__rules{
    /* background: blue; */

    width: 1099px;
    height: 1077px;
}
.div__rule1{
    display: flex;
}
.div__rule1 p{
    width: 752px;
    height: 187px;
}
.div__rule1 img{
    width: 162px;
    height: 162px;
}
.div__rule2{
    display: flex;
}
.div__rule2 p{
    width: 768px;
    height: 143px;
}
.div__rule2 img{
    width: 141px;
    height: 141px;
}
.div__rule3{
    display: flex;
}
.div__rule3 p{
    width: 750px;
    height: 178px;
}
.div__rule3 img{
    width: 161px;
    height: 161px;
}
.div__rule4{
    display: flex;
}
.div__rule4 p{
    width: 733px;
    height: 214px;
}
.div__rule4 img{
    width: 161px;
    height: 161px;
}
.div__rule5{
    display: flex;
}
.div__rule5 p{
    width: 733px;
    height: 98px;
}
.div__rule5 img{
    width: 162px;
    height: 159px;
}
.div_circle{
    margin-right: 55px;
    width: 100px;
    height: 100px;
}
.circle img{
    position: absolute;
    width: 100px;
    height: 100px;
}
.div_circle h3{
    position: relative;
    font-family: "RobotoCondensed-Bold";
    font-size: 64px;
    color: var(--color-2);
    text-decoration: none;
    padding-top: 15px;
    padding-left: 35px;
}
.div__rules a{
    background: var(--color-1);
    align-items: center;
    text-align: center;
    font-family: "RobotoCondensed-Bold";
    font-size: 64px;
    color: var(--color-2);
    text-decoration: none;
}
.div__rules p{
    font-family: "RobotoCondensed-Regular";
    font-size: 28px;
    color: var(--color-1);
    width: 752px;
    height: 187px;
}
.div__rules img{
}
.div__rule{
    background: green;
    display: flex;
    justify-content: space-between;
    align-items: center;


    height: 187px;
}
/****************************************************************************************************/
/* --------------------------------------- section__support-us"--------------------------------------- */
.section__support-us{

}
.div__support-us{

}
.div__support-us h3{
    font-family: "RobotoCondensed-Bold";
    font-size: 7px;
    color: var(--color-1);
}
.div__support-us p{
    font-family: "RobotoCondensed-Regular";
    font-size: 36px;
    color: var(--color-1);
    line-height: 44px;
}
.div__contribution{

}
.div__contribution img{
    
}
.div__contribution a{
    font-family: "RobotoCondensed-Bold";
    font-size: 36px;
    color: var(--color-2);
    text-decoration: none;
    width: 237px;
    height: 54px;
    border-radius: 31.5px;
}
